@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}
html {
    scroll-behavior: smooth;
    min-height: 100%;
    background: #f1f1f1;
}
i:hover {
    cursor: Pointer;
    opacity: 0.8;
}
a {
    text-decoration: none;
}
input {
    outline: none;
}
.background {
    background: url('../../access/image/theme_thanhlygopcay_v2.png') no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.backgroundLogin {
    background: url('../../access/image/login_desktop_background.webp') no-repeat;
    background-size: cover;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #9b9b9b;
}
.productShadow:hover {
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
}
.loginShadow {
    box-shadow: 0 0 8px rgb(0 0 0 / 30%);
}
.profileShadow {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
@media screen and (max-width: 779px) {
    .loginShadow {
        box-shadow: unset;
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
