@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}
html {
    scroll-behavior: smooth;
    min-height: 100%;
    background: #f1f1f1;
}
i:hover {
    cursor: Pointer;
    opacity: 0.8;
}
a {
    text-decoration: none;
}
input {
    outline: none;
}
.background {
    background: url('../../access/image/theme_thanhlygopcay_v2.png') no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.backgroundLogin {
    background: url('../../access/image/login_desktop_background.webp') no-repeat;
    background-size: cover;
}
.bgDetailPost {
    background: url('https://static.chotot.com/storage/logo/svg/chotot-logo-text.svg') 50% no-repeat;
    background-color: #eee;
    background-size: 50% auto;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #9b9b9b;
}
.productShadow:hover {
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
}
.loginShadow {
    box-shadow: 0 0 8px rgb(0 0 0 / 30%);
}
.profileShadow {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.avatarShadow {
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%);
}
.popupShadow {
    box-shadow: 0px 4px 8px rgb(0 0 0 / 10%);
}
.popupShadow1 {
    box-shadow: 0px 0px 6px rgb(0 0 0 / 15%);
}
.lds-dual-ring {
    z-index: 9999;
    height: 80px;
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #07bc0c;
    border-color: #07bc0c transparent #07bc0c transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 779px) {
    .loginShadow {
        box-shadow: unset;
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
